<ul class="sidebar-links mt-3 px-1 d-flex flex-column gap-3">
  <li class="list-unstyled">
    <a routerLink="/dashboard" class="text-decoration-none text-capitalize" style="color: #084298;">dashboard</a>
  </li>
  <li class="list-unstyled">
    <a routerLink="/products" class="text-decoration-none text-capitalize" style="color: #084298;">products</a>
  </li>
  <li class="list-unstyled">
    <a routerLink="/settings" class="text-decoration-none text-capitalize" style="color: #084298;">settings</a>
  </li>
</ul>
